/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:

// special colors
$OMNE-purple: #451e5d;
$OMNE-ligth-teal: #d7eeec; //#fceaf8;
/* ----------- end Colors ----------- */
