/* **** media **** */
// tablet & bigger
@media only screen and (min-width: 768px) {
	#header-wrap {
		.logo {
			text-align: left;
		}
		#header-controls-right {
			.headercode-widgets {
				.be-button-wrap {
					padding-top: 15px;
					padding-bottom: 10px;
				}
			}
		}
	}
}
/** // smaller than tablet.**/
@media only screen and (max-width: 767px) {

	#main-wrapper {
		#header {
			#header-top-bar {
				#header-top-bar-right {
					display: none;
				}
			}
			.logo {
					text-align: center;
					margin-left: 0px;
			}
			#header-controls-right {
			//	line-height: 120px;
				position: relative;
				text-align: center;
				right: 0px;
			}
		}
		#main {
		//	background-color: $wakeland-ltblue;
		}
		#hero-section {
		//	top: 120px;
		}
		#content {
		//	padding-top: 120px;
			.be-text-inner {
		//		width: 92%!important;
			}

		}
	}
}
// mobile menu break
@media only screen and (max-width: 960px) {
	#main-wrapper {
		#header {
			border-bottom: 6px solid $OMNE-purple;
			#header-top-bar {
				#header-top-bar-right {
					display: none;
				}
				#header-top-bar-left {
					float: left;
					width: initial;
				}
			}
		}

	}
	#content {
		#right-sidebar {
			h4 {
				font-size: 22px;
			}
		}
	}
} // end 960px/mobile menu side.

@media only screen and (max-width: 320px) {
 #header-controls-right,
 .mobile-nav-controller-wrap {
		line-height: 20px!important;
	}
	.style2 .logo {
		max-width: 100%;
		width: 100%;
		text-align: center;
	}
}
