/* styling for woocommerce stuff */
// single product
.woocommerce #content {
    div.product {
      margin-bottom: 0px;
      .product-single-boxed-content {
        margin-bottom: 0px;
        .variations {
          width: 100%;
        }
      }
        .images {
            width: 20%!important;
            img {
            }
        }
        .summary {
            width: 75%!important;
            .product_title {
              width: 100%;
            }
            input.nyp-input {
                text-align: left;
                max-width: 200px;
            }
            .product-addon {
                h3.addon-name {
                    font-size: 1em;
                    line-height: 1em;
                    font-weight: normal;
                }
                p.form-row {
                    margin-bottom: 0px;
                }
                input[type="number"] {
                  font-size: 16px;
                  padding: 3px;
                  line-height:30px;
                  max-width: 200px;
                  border: 2px solid #eeeeee;
                }
            }

        }
    }
}
